.bg-normal,
.bg-black {
  background-color: $black;
}

.bg-white {
  background-color: $white;
}

.bg-grass,
.bg-green {
  background-color: $green;
}

.bg-psychic {
  background-color: $pink;
}

.bg-water {
  background-color: $blue;
}

.bg-ice {
  background-color: $light-blue;
}

.bg-dragon {
  background-color: $dark-purple;
}

.bg-fire {
  background-color: $orange;
}

.bg-bug {
  background-color: $brown;
}

.bg-poison {
  background-color: $light-purple;
}

.bg-electric {
  background-color: $yellow;
}

.black {
  color: $black;
}

.white {
  color: $white;
}
