$dark-grey: #222;
$white: #fff;
$green: #43A047;
$pink: #D81B60;
$blue: #1E88E5;
$light-blue: #29B6F6;
$light-purple: #D500F9;
$light-indigo: #5C6BC0;
$dark-purple: #4527A0;
$orange: #F4511E;
$brown: #8D6E63;
$yellow: #FDD835;
$light-orange: #FFB74D;
$black: #000;
$light-dp-purple: #7E57C2;
$red: #e53935;
