$black: #222;
$white: #fff;
$green: #4CAF50;

.bg-black {
  background-color: $black;
}

.bg-white {
  background-color: $white;
}

.bg-green {
  background-color: $green;
}

.black {
  color: $black;
}

.white {
  color: $white;
}
