.full {
  width: 100%; }

.half {
  width: 50%; }

.App {
  text-align: center; }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px; }

.App-header {
  background-color: #222;
  height: 250px;
  padding: 20px;
  color: white; }

.App-intro {
  font-size: large; }

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  bottom: auto;
  transform: translate(-50%, -50%); }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.bg-normal,
.bg-dark-grey {
  background-color: #222; }

.bg-white {
  background-color: #fff; }

.bg-grass,
.bg-green {
  background-color: #43A047; }

.bg-psychic {
  background-color: #D81B60; }

.bg-water {
  background-color: #1E88E5; }

.bg-ice {
  background-color: #29B6F6; }

.bg-dragon {
  background-color: #4527A0; }

.bg-fire {
  background-color: #F4511E; }

.bg-bug {
  background-color: #8D6E63; }

.bg-poison {
  background-color: #D500F9; }

.bg-electric {
  background-color: #FDD835; }

.bg-ground {
  background-color: #FFB74D; }

.bg-dark,
.bg-black {
  background-color: #000; }

.bg-ghost {
  background-color: #5C6BC0; }

.bg-flying {
  background-color: #7E57C2; }

.black {
  color: #000; }

.white {
  color: #fff; }
